//- index.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Pluszle Solver
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/script.js' defer)
  body.parent
    header
      h1 Pluszle Solver
    .solver


    footer
      p Check my other work at 
        a(href='https://www.dpera.com', target='_blank') dpera.com
        | .